-webkit-border-top-left-radius: ${1:4}px; -moz-border-radius-topleft: $1px; border-top-left-radius: $1px; -webkit-border-bottom-left-radius: $1px; -moz-border-radius-bottomleft: $1px; border-bottom-left-radius: $1px;${2}
