-webkit-border-top-right-radius: ${1:4}px; -moz-border-radius-topright: $1px; border-top-right-radius: $1px; -webkit-border-bottom-right-radius: $1px; -moz-border-radius-bottomright: $1px; border-bottom-right-radius: $1px;${2}
