-webkit-border-top-left-radius: ${1:4}px; -moz-border-radius-topleft: $1px; border-top-left-radius: $1px; -webkit-border-top-right-radius: $1px; -moz-border-radius-topright: $1px; border-top-right-radius: $1px;${2}
